Flask==3.0.3
gdown==5.1.0
matplotlib==3.8.4
matplotlib-inline==0.1.7
numpy==1.26.4
pandas==2.2.2
pillow==10.3.0
plotly==5.22.0
requests==2.31.0
scikit-learn==1.4.2
scipy==1.13.0
tensorflow==2.16.1
tensorflow-datasets==4.9.4
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.15.
torch==2.3.0+cu121
torchaudio==2.3.0+cu121
torchvision==0.18.0
tqdm==4.66.2
urllib3==2.1.0